.banner {
    position: relative;
    padding: 100px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    position: relative;
    width: var(--container-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    h1 {
        color: #fff;
        font-size: 16rem;
        text-shadow: 0 0 25px rgba(47, 158, 226, 0.3);
    }

    img {
        width: 80%;
        margin-top: -320px;
    }

    h1,
    img {
        animation: fadeIn 0.75s linear;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
