@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;800&display=swap');

:root {
    --primary: #2f9ee2;
    --black: #000;
    --white: #fff;
    --text-color: #3a3a3a;
    --container-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Manrope', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}
